.contactMeMobile {
    position: absolute;
    z-index: 1;
    transition-duration: .25s;
    width: 100%;
    }

.contactMeMobile.hidden {
    top: 19%
}
.contactMeMobile.showing {
    top: 11%;
}


#navStyleTop {
    height: 5vh;
    background-color: #061326;
    position: relative;
    z-index: 1;
    border-top-left-radius: 99%;
    border-top-right-radius: 99%;
    box-shadow: 0 0 10px black;
    color: white;
    display: flex;
}

#navStyleBottom {
    height: 12vh;
    background-color: #061326;
    position: relative;
    z-index: 1;
    width: 100vw;
    /* left: -2%; */
}

.contactDivMobile {
    font-family: 'Syne', sans-serif;
   
    color: white;
}

#emailMobile {
    color: black;
    font-size: 9px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

#copiedMobile {
    
    color: black;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}

.resume {
    font-size: 9px;
    margin-top: -1.8rem !important;
}