
@media screen and (min-width:1200px) {
    #techDisplay {
        background-color: #1e1e1e;
        height: 70vh;
        width: 20vw;
    }
  }
  @media screen and (max-width:1199px) {
    #techDisplay {
        background-color: #1e1e1e;
        height: auto;
        width: 80vw;
    }
  }



.techShadow {
    -webkit-filter: drop-shadow(4px 0px 20px black);
    -moz-filter: drop-shadow(4px 0px 20px black);
    filter: drop-shadow(4px 0px 20px black);
}

.hide{
    display: none;
    opacity:0;
    
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.show{
    opacity:1;
    
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

