
@media screen and (min-width:1200px) {
    #techDisplay {
        background-color: #1e1e1e;
        height: 70vh;
        width: 20vw;
    }
  }
  @media screen and (max-width:1199px) {
    #techDisplay {
        background-color: #1e1e1e;
        height: auto;
        width: 80vw;
    }
  }



.techShadow {
    -webkit-filter: drop-shadow(4px 0px 20px black);
    -moz-filter: drop-shadow(4px 0px 20px black);
    filter: drop-shadow(4px 0px 20px black);
}

.hide{
    display: none;
    opacity:0;
    
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.show{
    opacity:1;
    
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}


#console {
    font-family: Consolas, monaco, monospace;
    font-weight: 700;
    width: 100%;
    height: 100%;
    
    font-size: .7em; 
    
}

#figure {
    background-color: white;
}

#pathColor1 {
    color: #118f5f;
}

#pathColor2 {
    color: #dada10;
}


#scrollConsole {
    height: 25%;
    width: 100% !important;
    border-top-style: solid;
    border-width: thin;
    border-color: rgba(255, 255, 255, .2);
    
}