.techContainer {
background-color: transparent;
width:100px;
height:105px;
}

@media screen and (min-width:1550px) {
    .techContainer {
        background-color: transparent;
        width:100px;
        height:105px;
  }
}  

@media screen and (min-width:1365px) and (max-width:1549px) {
    .techContainer {
        background-color: transparent;
        width:90px;
        height:95px;
  }
}

@media screen and (min-width:1050px) and (max-width:1364px) {
    .techContainer {
        background-color: transparent;
        width:80px;
        height:85px;
  }
}

.techFlip {
width: 100%;
height: 100%;
text-align: center; 
transition: transform 0.8s ease-in-out;
transform-style: preserve-3d;
}

.techFlip:hover {
    transform: scale(1.2);
    
}

.techFlipStart {
    transform: rotateY(90deg);
}

.techIcon {
color: black;
}

